<tr height=20 style='height:15.0pt'>
    <td height=20 class=months_and_headers style='height:15.0pt'>{}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
    <td class=months_data align=right>{:,.15g}</td>
</tr>