<tr height=25 style='height:18.75pt'>
    <td height=25 class=xl6923199 style='height:18.75pt'>Q2</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
    <td class=xl7123199 align=right>{:,.15g}</td>
</tr>