<tr height=25 style='height:18.75pt'>
    <td height=25 class=quarter_label style='height:18.75pt'>Q4</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
    <td class=quarter4_data align=right>{:,.15g}</td>
</tr>