<tr height=20 style='height:15.0pt'>
    <td height=20 class=total_row style='height:15.0pt'>Total</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
    <td class=total_data align=right>{:,.15g}</td>
</tr>