{% extends "layout.html" %}

{% block title %} {{title}} {% endblock %}

{% block body %}

    <table border=0 cellpadding=0 cellspacing=0 class="striped highlight centered"  width=280 style="width:340pt">
    <col width=40>
    <col width=40>
    <col width=40>

    <tr>
        <td colspan="3" class="title yellow darken-3">{{ title }}</td>
    </tr>

    <tr class="whiteBoldForeground grey darken-4">
        <td>{{ factor }}</td>
        <td>Percent</td>
        <td>Total</td>
    </tr>
    {% for row in data %}
    <tr>
        <td class="tdWithBorder rowData">{{ row[0] }}</td>
        <td class="tdWithBorder rowData">{{ row[1] }}</td>
        <td class="tdWithBorder rowData">{{ row[2] }}</td>
    </tr>
    {% endfor %}
    </table>

{% endblock %}