<tr height=20 style='height:15.0pt'>
    <td height=20 class=xl1523199 style='height:15.0pt'>{}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
    <td class=xl6623199 align=right>{:g}</td>
</tr>