<tr height=20 style='height:15.0pt'>
    <td height=20 class=xl6723199 style='height:15.0pt'>Total</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
    <td class=xl6823199 align=right>{:,.15g}</td>
</tr>